.twrapper {

  border: 1px solid black;
  width: 1000px;
  height: 2410px;
  margin-top: 10px;
  margin-right: 1243px;
  margin-bottom: 10px;
  margin-left: 250px;
}

h1 {text-align: center;}
.awrapper{

  border: 1px dashed black;
  width: 1000px;
  height: 2410px;
  margin-top: 189px;
  margin-right: 1243px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.skyblue {
  background-color: #6cbfee;
  border: 2px dotted black;
  margin: 17px;
}

.steelblue {
  background-color: #3594cb;
  border: 2px dotted black;
margin: 17px;
}
